<section
  class="px-12 bg-white-hover min-h-full flex flex-col sm:flex-row justify-between items-center gap-2"
>
  <div>
    <h1 class="text-[3rem] md:text-[6rem] leading-none">
      Human <br class="hidden md:block" />
      stories & ideas
    </h1>
    <p class="text-2xl mt-4">
      A place to read, write, and deepen your understanding
    </p>
  </div>

  <div>
    <img
      src="https://media.istockphoto.com/id/1658928680/photo/the-world-map-on-lit-light-bulb-on-mossy-tree-concept-of-renewable-energy-sustainable-energy.webp?a=1&b=1&s=612x612&w=0&k=20&c=_pywgqvQZQUitk7eK-T2m9xXDvX-2Waof3fsswUB_kM="
      alt="bulb image"
    />
  </div>
</section>
