<app-nav></app-nav>

<section
  class="bg-white-primary min-h-full grid grid-cols-1 md:grid-cols-3 gap-8"
>
  <div class="md:col-span-2 py-8 px-4 md:px-12 border-r">
    <ng-content *ngIf="blogs$ | async as blogs; else loader">
      @for (blog of blogs; track $index) {
      <app-blog [blog]="blog"></app-blog>
      }
    </ng-content>
    <ng-template #loader>
      <div class="flex justify-center items-center min-h-[50%]">
        <app-loader></app-loader>
      </div>
    </ng-template>
  </div>
  <div class="px-4 md:px-12 py-8">
    <h1 class="font-normal">Staff Picks</h1>
    <!-- On newsletter-->
    <div class="my-4">
      <div class="flex justify-start items-center gap-2">
        <div class="w-8 h-8 rounded-full bg-black-hover"></div>
        <h1 class="text-s text-grey-primary my-2">
          The SocRadar Newsletter in the SocRadar blog
        </h1>
      </div>
      <h1 class="text-black-primary font-black">
        Monogamy is overrated (at work)
      </h1>
    </div>
    <!-- On newsletter-->
    <div class="my-4">
      <div class="flex justify-start items-center gap-2">
        <div class="w-8 h-8 rounded-full bg-black-hover"></div>
        <h1 class="text-s text-grey-primary my-2">
          Besanya Santiago Ayala in Iberospherical
        </h1>
      </div>
      <h1 class="text-black-primary font-black">
        How I’m Celebrating National Hispanic Heritage Month
      </h1>
    </div>
    <!-- On newsletter-->
    <div class="my-4">
      <div class="flex justify-start items-center gap-2">
        <div class="w-8 h-8 rounded-full bg-black-hover"></div>
        <h1 class="text-s text-grey-primary my-2">Alberto Romero</h1>
      </div>
      <h1 class="text-black-primary font-black">
        30 Things I’ve Learned About AI
      </h1>
    </div>
    <h2 class="text-green-primary cursor-pointer hover:text-green-hover">
      See the full list
    </h2>

    <!--   FAQ-->
    <div
      class="bg-white-hover p-4 rounded-md mt-2 flex gap-2 flex-col justify-start"
    >
      <h1 class="text-black-primary text-xl">Writting on SocRadar</h1>
      <p>New writer FAQ Expert writing advice Grow your readership</p>
      <button
        id="start-writing"
        aria-label="Start writing"
        class="w-1/2 bg-black-primary text-white-primary py-1 px-2 rounded-md mt-2 text-s"
      >
        Start writing
      </button>
    </div>
  </div>
  <!-- <div class="flex">
    <div>
      <h1 class="text-[3rem] md:text-[6rem] leading-none">
        Human <br class="hidden md:block" />
        stories & ideas
      </h1>
      <p class="text-2xl mt-4">
        A place to read, write, and deepen your understanding
      </p>
    </div>

    <div>
      <img
        src="https://media.istockphoto.com/id/1658928680/photo/the-world-map-on-lit-light-bulb-on-mossy-tree-concept-of-renewable-energy-sustainable-energy.webp?a=1&b=1&s=612x612&w=0&k=20&c=_pywgqvQZQUitk7eK-T2m9xXDvX-2Waof3fsswUB_kM="
        alt="bulb image"
      />
    </div>
  </div> -->
  <!--  Blogs secitons-->
</section>
<app-footer></app-footer>
